language: ruby
rvm:
  - 1.9.3
  - 2.0.0
services:
  - mongodb
notifications:
  email: false
  irc:
    channels:
      - "chat.freenode.net#seijit"
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
    use_notice: true
    skip_join: true
