%div.navbar.navbar-fixed-top.navbar-inverse
  %div.navbar-inner
    %div.container
      %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse" }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{href: "."}
        Admin
      %div.nav-collapse.collapse
        %ul.nav
          - if @active == 'crawls'
            %li
              
            %li.active
              %a{href: '/admin/crawls'} crawls
          - else
            %li
              %a{href: '/admin/crawls'} crawls
          - if @active == 'feeds'
            %li.active
              %a{href: '/admin/feeds'} feeds
          - else 
            %li
              %a{href: '/admin/feeds'} feeds
          - if @active == 'entries'
            %li.active
              %a{href: '/admin/entries'} entries
          - else
            %li
              %a{href: '/admin/entries'} entries
          - if @active == 'users'
            %li.active
              %a{href: '/admin/users'} users
          - else
            %li
              %a{href: '/admin/users'} users
                
          
                          