- if defined? @feed
  #{@feed.title}
  - @feed.entries.each_with_index do |entry, i|
    - break if i > 0
    %div.entry-body
      %div.header
        %h6
          %a{:href=>"#{entry.url}"} #{entry.title}
      #{entry.body}
      
- else
  %div.entry-body
    %h3 Vatican
    %span.text-note Image
    %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Donec ullamcorper</strong> nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    %img.img-rounded{:src=>'/images/exaple-image.jpg'}
    %p.img-comment
      %strong Note:
      gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
