= haml :nav, :layout => false
%div.container
  %div.span3
    = haml :"shared/nav_list_feed"
  %div.span6
    = haml :"shared/content"
  %div#content_headers.span2
    %div#box
      = haml :"shared/content_headers"
      
