%div.mtl.pbl
  %div.bottom-menu.bottom-menu-inverse
    %div.container
      %div.row
        %div.span2.brand
          %a{:href=>'#'} flot
        %div.span8
          %ul.bottom-links
            %li
              %a{:href=>'#'}About Us
            %li
              %a{:href=>'#'}Store
            %li.active
              %a{:href=>'#'}Jobs
            %li
              %a{:href=>'#'}Privacy
            %li
              %a{:href=>'#'}Terms
            %li
              %a{:href=>'#'}Follow Us
            %li
              %a{:href=>'#'}Support
            %li
              %a{:href=>'#'}Links
        %div.span2
          %ul.bottom-icons
            %li
              %a.fui-facebook{:href=>'#'}
            %li
              %a.fui-twitter{:href=>'#'}
