= haml :nav, :layout => false
%div.demo-row
  %div.demo-col
    %ul.nav.nav-list.nav-list-vivid
      %li.nav-header Feeds
      %li
        %a{:href=>'#'}
          UX Design
          %span.nav-counter 19
      %li.active
        %a{:href=>'#'}
          UX Photography
          %span.nav-counter 19
      %li
        %a{:href=>'#'}
          Art
          %span.nav-counter 19
      %li.divider
      %li.nav-header Condition
      %li
        %a{:href=>'#'}
          UX Design
          %span.nav-counter 19
      %li.active
        %a{:href=>'#'}
          UX Photography
          %span.nav-counter 19
      %li
        %a{:href=>'#'}
          Art
          %span.nav-counter 19
  %div.demo-col.typography-row
    %div.demo-content
      %h3 The Vatican transitions to a
      %span.text-note Image
      %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <strong>Donec ullamcorper</strong> nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      %img.img-rounded{:src=>'images/exaple-image.jpg'}
      %p.img-comment
        %strong Note:
        gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
      
