!!! 5
%html
  %head
    %title flot
  %body
    %h1 Hello flot
    %p not only feed
    %script{:type => "text/javascript", :src => "assets/application.js"}
    %a{:href => '/auth/google_oauth2'} Sign in Google

    