!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta(content="width=device-width, initial-scale=1.0" name="viewport")
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)
    %title= @title
    %link{rel: 'stylesheet', type: 'text/css', href: stylesheet_path('application')}
  %body
    #container
      = haml :header, :layout => false
      = yield
      = haml :footer, :layout => false
    %script{:src=>'javascripts/prefixfree-1.0.7.js'}